<main>
        {{#if hasProducts}}
            <div class="grid">
            {{#each prods}}
            <article class="card product-item">
                <header class="card__header">
                <h1 class="product__titl">{{this.title}}</h1>
                </header>
                <div class="card__image">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/6/60/A_book.jpg"
                    alt="A Book"
                />
                </div>
                <div class="card__content">
                <h2 class="product__price">$19.9</h2>
                <p class="product__description">A very interesting book!</p>
                </div>
            </article>
            {{/each}}
            </div>
        {{else}}
            <h1>No Products Found</h1>
        {{/if}}
</main>
