body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}
main {
  padding: 1rem;
  margin: auto;
}
form {
  display: inline;
}
.centered {
  text-align: center;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: rgb(197, 154, 24);
  padding: 0 1.5rem;
  align-items: center;
}
.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.main-header__item {
  margin: 1rem;
  padding: 0;
}
.main-header__item a {
  text-decoration: none;
  color: black;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: rgb(101, 7, 138);
}
